@charset "utf-8";


/*要素を横並びにするCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.notice_left {
	float: left;
}

.notice_right {
	float:right;
}

.notice_none {
	float:none;
}

.detail_flex {
	display: flex;
}

/*上に余白をあけるCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.top_margin {
	margin-top: 23px;
}

.detail_top {
	padding-top: 25px;
}

.form_top {
	margin-top: 3px;
}

/*下に余白をあけるCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.detail_bottom {
	padding-bottom: 5px;
}

/*右に余白をあける
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.right_margin {
	margin-right: 10px;
}
.notice_right {
	margin-right: 30px;
}

/*左に余白をあける
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.left_margin {
	margin-left: 30px;
}

/*右寄せするCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.position_right {
	text-align: right;
}
.notice_right {
	justify-content: right;
}

/*中央寄せするCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.position_center {
	text-align: center;
}

.notice_center {
	display:flex;
	justify-content: center;
}

/*位置を固定するCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.position_bottom {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

.position_form {
	position: fixed;
	bottom: 5%;
	left: 5%;
}

/*セレクトボックスのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.select_size {
	height: 35px;
	width: 200px;
}

.form_select {
	height: 24px;
	width: 100px;
	position: fixed;
	left: 29%;
}

/*テキストボックスのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.form_text {
	position: fixed;
	left: 29%;
	height: 24px;
	width: 55%;
}

/*ボタンのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.button_size {
	height: 35px;
	width: 80px;
}

.detail_button {
	height: 35px;
	width: 60px;
	font-size: 15px;
}

.keep_button {
	height: 35px;
	width: 120px;
	font-size: 15px;
}

.button_style {
	background-color: #fff;
	border-radius: 5px;
}

.button_style:hover {
	color: #ff4765;
	border-color: #ff4765;
	cursor: pointer; /* マウスポインタを変更する */
}

/*文字のCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.detail_font {
	font-size: 18px;
}

.container {
	max-width : 960px;
	margin : 0 auto;
}

.container2 {
	max-width : 780px;
	margin : 0 auto;
}
.notice_warp {
	flex-wrap: wrap;
}
