@charset "utf-8";


/*要素を横並びにするCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.notice_left {
	float: left;
}

.float_right {
	float:right;
}

.notice_none {
	float:none;
}

.detail_flex {
	display: flex;
}

.re_flexbox {
	display: flex;
	flex-direction: row-reverse;


}
/*指定した要素の回り込みを解除するCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.notice_line {
	clear : both ;
}

/*上に余白をあけるCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.top_margin {
	margin-top: 23px;
}

.detail_top {
	padding-top: 25px;
}

.form_top {
	margin-top: 3px;
}
.margin-1px {
	margin-top: 1px;
}
.margin_top_30px {
	margin-top: 30px;
}
.margin_top_50px {
	margin-top: 50px;
}
.padding_top_50px {
	padding-top: 50px;
}
.padding_top_10 {
	padding-top: 10px;
}
.margin_top_18 {
	margin-top: 18px;
}

/*下に余白をあけるCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.detail_bottom {
	padding-bottom: 5px;
}
.padding_bottom_50 {
	padding-bottom: 50px;
}
.padding_bottom_10 {
	padding-bottom: 10px;
}

/*右に余白をあける
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.right_margin {
	margin-right: 10px;
}
.notice_right {
	margin-right: 30px;
}
.paddeng_right_20 {
	padding-right: 20px;
}

.yy_margin {
	left: 0;
}

.oo_margin {
	right: 0;
}

/*左に余白をあける
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.left_margin {
	margin-left: 30px;
}
.padding_left_20 {
	padding-left: 20px;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_left_27 {
	margin-left: 27px;
}
.margin_left_45 {
	margin-left: 45px;
}
.margin_left_800 {
	margin-left: 10px;
}
.padding_left_12 {
	padding-left: 12px;
}

/*余白を消すCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.padding_bottom_0 {
	margin-bottom: 0;
}
.padding_none {
	padding: 0;
}
.padding_top_0 {
	padding-top: 0;
}

.margin_top_0 {
	margin-top: 0;
}

/*右寄せするCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.position_right {
	text-align: right;
}
.notice_right {
	justify-content: right;
}

/*中央寄せするCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.position_center {
	text-align: center;
}

.notice_center {
	display:flex;
	justify-content: center;
}

/*位置を固定するCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.position_bottom {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

.position_form {
	position: fixed;
	bottom: 5%;
	left: 5%;
}
.absolute_element{
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.parent{
	position: relative;
	.child{
		top:-15%;
		width: 70%;
	}
}
.position_notice {
	position: relative;
}

.t_element{
	position: absolute;
	right: 0;
	margin: 0 auto;
}

/*セレクトボックスのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.select_size {
	height: 35px;
	width: 200px;
}

.form_select {
	height: 24px;
	width: 100px;
	position: fixed;
	left: 29%;
}

.admin_select {
	height: 24px;
	width: 100px;
}

/*テキストボックスのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.form_text {
	position: fixed;
	left: 29%;
	height: 24px;
	width: 55%;
}

.form_text2 {
	position: fixed;
	height: 24px;
	width: 55%;
}

.form_text3 {
	position: fixed;
	height: 24px;
}

.admin_text {
	height: 24px;
	width: 80%;
}

.textarea {
	max-width: 780px;
	width: 100%;
	height: 120px;
}

.tea {
	width: 35.1%;
}

.tarea {
	max-width: 1000px;
	width: 100%;
	height: 120px;
}

/*ボタンのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.button_size {
	height: 35px;
	width: 80px;
}

.detail_button {
	height: 35px;
	width: 60px;
	font-size: 15px;
}

.keep_button {
	height: 35px;
	width: 120px;
	font-size: 15px;
}

.button_style {
	background-color: #fff;
	border-radius: 5px;
}

.button_style:hover {
	color: #ff4765;
	border-color: #ff4765;
	cursor: pointer; /* マウスポインタを変更する */
}

.border-none {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: transparent;
}
.hit_judgment_mechanics {
	padding: 10px 15px;
}
.notice_full_button {
	position: absolute;
	width: 100%;
	height: 110px;
	text-align:left;
	vertical-align: top;
	font-size: 25px;
	top: -17px;
	z-index: 10;
}
.notice_full_button:hover {
	color: #ff4765;
	background-color: rgba(233,236,239,0.4);
	cursor: pointer; /* マウスポインタを変更する */
}

.il_button {
	height: 35px;
	width: 120px;
	font-size: 15px;
}

.button_button {
	height: 35px;
	width: 170px;
	font-size: 15px;
}
.admin_button {
	width: 50px;
	height: 43px;
}

.button_text_vol {
	width: 250px; /* ボタンの最大幅を指定 */
	white-space: nowrap; /* テキストを折り返さない */
	overflow: hidden; /* はみ出た部分を非表示 */
	text-overflow: ellipsis; /* 省略記号 (…) を表示 */
}
.button_back_ground {
	background: #DCDCDC;
	border-radius: 0px;
	border: 1px #ddd;
	width: 100%;
	height: 100%;
	border-color: #FFFFFF;
	display: table-cell;
	vertical-align: middle;

}
.button_back_ground:hover {
	background: #D3D3D3;
}
.form_height {
	height: 97%;
	width: 98%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.admin_button_width {
	width: 99%;
}
.bottom_button {
	position: fixed;
	bottom: 5%;
	text-align: center;
}

/*文字のCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.detail_font {
	font-size: 18px;
}
.link_judgement {
	display: inline-block;
	margin:-10px;
	padding:10px;
}
.bold_text {
	font-weight: bold;
}
.text_left {
	text-align: left;
}

/*要素の幅を制限するCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.container {
	max-width : 960px;
	margin : 0 auto;
}

.container2 {
	max-width : 780px;
	margin : 0 auto;
}
.notice_hight {
	height:85px;
}
.title_text_vol {
	width: 150px; /* ボタンの最大幅を指定 */
	white-space: nowrap; /* テキストを折り返さない */
	overflow: hidden; /* はみ出た部分を非表示 */
	text-overflow: ellipsis; /* 省略記号 (…) を表示 */
}

.category_text_vol {
	width: 90px;
}

.date_text_vol {
	width: 120px;
}

.name_text_vol {
	width: 160px; /* ボタンの最大幅を指定 */
	white-space: nowrap; /* テキストを折り返さない */
	overflow: hidden; /* はみ出た部分を非表示 */
	text-overflow: ellipsis; /* 省略記号 (…) を表示 */
}

/* テーブルのCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	font-size: 14px;
	table-layout: fixed;
}

table th, table td {
	padding-top: 5px;
	padding-left: 12px;
	text-align: left;
	border: 1px solid #ddd;
}

table th {
	background-color: #000000;
	color: #fff;
	font-weight: bold;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #e9ecef;
}

/* 画像のCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
p.preview img {
    height: 100px;  /* 横幅を200pxに */
}
.image_depth {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 15;
	pointer-events: none;
}

/*枠線のCSS
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.border_style {
	border-radius: 5px;
	border-width: 2px;
}
